@{
    ViewData["Title"] = "Home Page";
}
    <div class="login-register">
        <div class="register">
            <h1>Register</h1>
            <partial partial name="_RegisterPartial"></partial>
        </div>
        <div class="login">
            <h1>Login</h1>
            <partial name="_LoginPartial"></partial>
        </div>  
    </div>
